.all{
    background-color: white;
    min-height: 100vh;
    height: 100%;

    align-items: center;
    justify-content: center;
  }

.taskform{
    display: flex;
    width: 90%;
    justify-content: center;

}
.hederToDo{
    height: 20vh;
    color: #2e0d56;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: 20px;


}
.Address{
    border-bottom: rgb(199, 166, 22) solid 5px;

}
.taskinput{
width: 90%;


}
.buttonTask{
    width: 10%;
    height: 40px;

}

.parts{
   display: flex;
    align-items: center;
    justify-content: center;
}
.TasksPart{
    width: 40%;
    border: 1px rgb(63, 147, 196) solid;
 height: 100%;
    padding: 10px;
   
    
    margin: 5%;

/* align-items: center; */

}
.widbut{
    width: 70%;
    margin-left: 2%;
}

.text{
    text-align: center;
    color: rgb(13, 44, 56);
}
.textcomplet{
    width: 70%;
    font-size: 20px;
    text-align: center;
    color:white;
    padding: 10PX;
    border-radius: 30px;
    margin: 2%;
    height: 50px;

    background-color:  #fb0b7d;
}
@media screen and (max-width:780px) {

    .TasksPart{
        width: 100%;
    
    }
    .parts{
        display: block;
    }
    .TasksPart{
       
     height: 100%;
        padding: 10px;
       width: 95%;
    
        display: flex;
         justify-content: center;
        flex-direction: column;
        margin: 1%;
    
    /* align-items: center; */
    
}

.buttonTask{
    width: 30%;
    height: 40px;

}
}